<h1>Python + Selenium </h1>

* Instalar o Selenium
#abrir o prompt e dar pip install selenium
* Baixar o WebDriver (chromedriver)
<br>#webdriver é um arquivo que vai permitir o python a integrar ao navegador; para isso é necessário pegar o webdriver dos navegadores distintos que vc irá usar.
<br>#colocar o arquivo onde está instalado o python(python.exe), no caso em C:\Users\User\anaconda3\

In [ ]:
from selenium import webdriver
navegador = webdriver.Chrome()
##navegador.get vai até uma pagina
site_investimento = ("https://fiis.com.br/")
#print(site_investimento)
navegador.get(site_investimento)
##procura pelo xpath e clica
#navegador.find_element("xpath", '//*[@id="fii-section"]/div/div/div[2]/div[3]/div/div[1]/div[2]/div/span').click()

Depois de criarmos a estrutura do webdriver para acessar a página, iremos importar o Pandas e criaremos um dataFrame com os ativos que precisaremos pesquisar. Esses ativos servirão também de sufixos para a url do site_investimento.

Poderíamos fazer isso importando um csv com a lista.

In [ ]:
import pandas as pd
#Criaremos um dataframe coms os ativos que vão ser pesquisados
ativos = pd.DataFrame({"nome":["AFHI11","SDIL11","XPML11","IRDM11","RBVA11","RBED11","FLMA11","TRXF11","HGRU11","TRBL11","KNSC11","MALL11"]})
ativos

      nome
0   AFHI11
1   SDIL11
2   XPML11
3   IRDM11
4   RBVA11
5   RBED11
6   FLMA11
7   TRXF11
8   HGRU11
9   TRBL11
10  KNSC11
11  MALL11

Depois de ter criado a estrutura de ativos que serão pesquisados, vamos fazer uma iteração que vai acessar o site_investimento/ com o sufixo dos Ativos criados no bloco anterior.

Para isso importaremos da biblioteca do webdriver o **By**, para podermos achar o elemento do xPath da página. Como o que vamos puxar agora é uma tabela, também poderia ser feito através do CLASSNAME.

Ao puxar o elemento, vamos transformá-lo em um texto e começaremos a tratá-lo, transformando no Dataframe **df**.

In [ ]:
from selenium.webdriver.common.by import By
#Importaremos a biblioteca By
#from io import StringIO     # Usamos StringIO para simular um arquivo em memória


#Faremos uma iteração aqui, criando o indicador IND, procurando pelo index de ativos(ativos.index)
for ind in ativos.index:
    pesquisa = ativos.loc[ativos.index[ind]]    #pesquisa vai guardar as infos de cada index, começando do 0
    #print(pesquisa)                             #Veremos algo do tipo: nome    AFHI11    Name: 0, dtype: object 
    pesquisa = pesquisa['nome']                 #Como só interessa a coluna nome, iremos filtrar por ela
    #print(pesquisa)                             #aqui teremos só a coluna nome do index, que será AFHI11
    url = (site_investimento+pesquisa)           #Puxando o Site_investimento (fiis.com),iremos criar a string com o nome
    #print(url)
    navegador.get(url)                           #Puxaremos então a url  fiis.com.br/nome atual
    #print('Novo CICLO!  ',ind)
    
    #Busca Elemento Na Tabela
    tabela = navegador.find_element(By.XPATH, '//*[@id="carbon_fields_fiis_dividends-2"]/div[2]/div[2]')
    #tentar procurar com a Classe 
    #tabela = navegador.find_element(By.CLASSNAME, 'dividends-table-container')
    texto = tabela.text
    texto = texto.strip().split('\n')
    
    df = pd.DataFrame([x.split(';') for x in texto if x])
    
    
    ###
    
    nome_da_tabela = df[0][0]
    print(nome_da_tabela)
    #print(df)
    
    #df_reshaped = pd.DataFrame(df.values.reshape(-1, 5), 
    #                           columns=['Data Base', 'Data Pagamento', 'Cotação Base', 'Dividend Yield', 'Rendimento'])

    ##df = pd.DataFrame({tabela.text})
    ####teste = teste.transpose
    ###print(teste)
    ###teste.to_csv(r'C:\Users\User\Downloads\teste.csv', sep='\n', encoding='ANSI',index=False)
    
    ##Busca Ultimo Rendimento Apenas
    #ult_rend = navegador.find_element(By.XPATH, '//*[@id="carbon_fields_fiis_header-2"]/div/div/div[1]/div[2]/div/div[2]/p[1]/b')
    #print(pesquisa + ' Rendeu no Ultimo mês ' + ult_rend.text)

ÚLTIMOS DIVIDENDOS DO AFHI11
ÚLTIMOS DIVIDENDOS DO SDIL11
ÚLTIMOS DIVIDENDOS DO XPML11
ÚLTIMOS DIVIDENDOS DO IRDM11
ÚLTIMOS DIVIDENDOS DO RBVA11
ÚLTIMOS DIVIDENDOS DO RBED11
ÚLTIMOS DIVIDENDOS DO FLMA11
ÚLTIMOS DIVIDENDOS DO TRXF11
ÚLTIMOS DIVIDENDOS DO HGRU11
ÚLTIMOS DIVIDENDOS DO TRBL11
ÚLTIMOS DIVIDENDOS DO KNSC11
ÚLTIMOS DIVIDENDOS DO MALL11

In [ ]:
de = df #Dropa a primeira linha
i = 0
c = 0
coluna_df = pd.DataFrame()
result_df = coluna_df

for ind in de.values:
    if i==0:
        print('Dropar',ind)
    elif i > 0 and i < 6 :
        print('Cabeçalho', ind)
        #coluna_df = pd.DataFrame(columns=(ind))
        coluna_df[ind] = 'None'
        print(coluna_df)
    else:
        if i ==6:
            result_df = coluna_df
        print(ind, i)
        print(c)
        # Atribua os valores pelo índice da coluna
        coluna_df[coluna_df.columns[c]] = ind
        print('Coluna_df : '+coluna_df)
        print('Coluna_df Posição : '+coluna_df.columns[c])
        print('Coluna_df Valor : '+ind)
        c = c + 1
        if c >= 5:
            c = 0
            result_df = result_df.append(coluna_df, ignore_index=True)
        print('Result_df = '+result_df)
    i=i+1
    
result_df = result_df.drop(range(1))
    
# Set the first column as the index
##de.set_index(0, inplace=False)
# Transpose the table
##de = de.transpose()

# Reset the index
##de.reset_index(inplace=True)
##de

#for ind in df.size:
#    print(ind)

#cabecalho = df[1:6].transpose(copy='True') #Transformamos as 5 primeiras linhas em colunas
#cab = cabecalho.values  #valores do cabecalho
#cabecalho
#itens = df[6:].transpose(copy='True') #Transformamos as 5 primeiras linhas em colunas
#itens

In [ ]:
result_df

     Data Base Data Pagamento Cotação Base Dividend Yield Rendimento
1   29.09.2023     16.10.2023    R$ 117,69          0,72%    R$ 0,85
2   31.08.2023     15.09.2023    R$ 117,31          0,72%    R$ 0,85
3   31.07.2023     14.08.2023    R$ 115,50          0,69%    R$ 0,80
4   30.06.2023     14.07.2023    R$ 117,48          0,68%    R$ 0,80
5   31.05.2023     15.06.2023    R$ 109,50          0,71%    R$ 0,78
..         ...            ...          ...            ...        ...
65  30.05.2018     14.06.2018     R$ 99,42          0,62%    R$ 0,62
66  30.04.2018     15.05.2018    R$ 105,30          0,58%    R$ 0,61
67  29.03.2018     13.04.2018    R$ 102,95          0,65%    R$ 0,67
68  28.02.2018     14.03.2018    R$ 103,20          0,48%    R$ 0,50
69  31.01.2018     16.02.2018    R$ 103,10          0,47%    R$ 0,48

[69 rows x 5 columns]