<h1>Python + Selenium </h1>

* Instalar o Selenium
#abrir o prompt e dar pip install selenium
* Baixar o WebDriver (chromedriver)
<br>#webdriver é um arquivo que vai permitir o python a integrar ao navegador; para isso é necessário pegar o webdriver dos navegadores distintos que vc irá usar.
<br>#colocar o arquivo onde está instalado o python(python.exe), no caso em C:\Users\User\anaconda3\

In [ ]:
from selenium import webdriver
navegador = webdriver.Chrome()
##navegador.get vai até uma pagina
site_investimento = ("https://fiis.com.br/")
#print(site_investimento)
navegador.get(site_investimento)
##procura pelo xpath e clica
#navegador.find_element("xpath", '//*[@id="fii-section"]/div/div/div[2]/div[3]/div/div[1]/div[2]/div/span').click()

In [ ]:
import pandas as pd
#Criaremos um dataframe coms os ativos que vão ser pesquisados
ativos = pd.DataFrame({"nome":["AFHI11","SDIL11","XPML11","IRDM11","RBVA11","RBED11","FLMA11","TRXF11","HGRU11","TRBL11","KNSC11","MALL11"]})
ativos

      nome
0   AFHI11
1   SDIL11
2   XPML11
3   IRDM11
4   RBVA11
5   RBED11
6   FLMA11
7   TRXF11
8   HGRU11
9   TRBL11
10  KNSC11
11  MALL11

In [ ]:
from selenium.webdriver.common.by import By
#Importaremos a biblioteca By
from io import StringIO     # Usamos StringIO para simular um arquivo em memória


#Faremos uma iteração aqui, criando o indicador IND, procurando pelo index de ativos(ativos.index)
for ind in ativos.index:
    pesquisa = ativos.loc[ativos.index[ind]]    #pesquisa vai guardar as infos de cada index, começando do 0
    #print(pesquisa)                             #Veremos algo do tipo: nome    AFHI11    Name: 0, dtype: object 
    pesquisa = pesquisa['nome']                 #Como só interessa a coluna nome, iremos filtrar por ela
    #print(pesquisa)                             #aqui teremos só a coluna nome do index, que será AFHI11
    url = (site_investimento+pesquisa)           #Puxando o Site_investimento (fiis.com),iremos criar a string com o nome
    #print(url)
    navegador.get(url)                           #Puxaremos então a url  fiis.com.br/nome atual
    #print('Novo CICLO!  ',ind)
    
    #Busca Elemento Na Tabela
    tabela = navegador.find_element(By.XPATH, '//*[@id="carbon_fields_fiis_dividends-2"]/div[2]/div[2]')
    #tentar procurar com a Classe 
    #tabela = navegador.find_element(By.CLASSNAME, 'dividends-table-container')
    texto = tabela.text
    texto = texto.strip().split('\n')
    df = pd.DataFrame([x.split(';') for x in texto if x])
    
    
    ###
    
    #nome_da_tabela = df[0][0]
    #print(nome_da_tabela)
    #print(df)
    
    #df_reshaped = pd.DataFrame(df.values.reshape(-1, 5), 
    #                           columns=['Data Base', 'Data Pagamento', 'Cotação Base', 'Dividend Yield', 'Rendimento'])

    ##df = pd.DataFrame({tabela.text})
    ####teste = teste.transpose
    ###print(teste)
    ###teste.to_csv(r'C:\Users\User\Downloads\teste.csv', sep='\n', encoding='ANSI',index=False)
    
    ##Busca Ultimo Rendimento Apenas
    #ult_rend = navegador.find_element(By.XPATH, '//*[@id="carbon_fields_fiis_header-2"]/div/div/div[1]/div[2]/div/div[2]/p[1]/b')
    #print(pesquisa + ' Rendeu no Ultimo mês ' + ult_rend.text)

In [ ]:
df
#cabecalho = df[1:6].transpose(copy='True') #Transformamos as 5 primeiras linhas em colunas
#cab = cabecalho.values  #valores do cabecalho
#cabecalho
#itens = df[6:].transpose(copy='True') #Transformamos as 5 primeiras linhas em colunas
#itens

                                0
0    ÚLTIMOS DIVIDENDOS DO MALL11
1                       Data Base
2                  Data Pagamento
3                    Cotação Base
4                  Dividend Yield
..                            ...
346                    31.01.2018
347                    16.02.2018
348                     R$ 103,10
349                         0,47%
350                       R$ 0,48

[351 rows x 1 columns]

ValueError: cannot reshape array of size 351 into shape (5)