<h1>Python + Selenium </h1>

* Instalar o Selenium
#abrir o prompt e dar pip install selenium
* Baixar o WebDriver (chromedriver)
<br>#webdriver é um arquivo que vai permitir o python a integrar ao navegador; para isso é necessário pegar o webdriver dos navegadores distintos que vc irá usar.
<br>#colocar o arquivo onde está instalado o python(python.exe), no caso em C:\Users\User\anaconda3\

In [ ]:
from selenium import webdriver
navegador = webdriver.Chrome()
##navegador.get vai até uma pagina
site_investimento = ("https://fiis.com.br/")
#print(site_investimento)
navegador.get(site_investimento)
##procura pelo xpath e clica
#navegador.find_element("xpath", '//*[@id="fii-section"]/div/div/div[2]/div[3]/div/div[1]/div[2]/div/span').click()

In [ ]:
import pandas as pd
#Criaremos um dataframe coms os ativos que vão ser pesquisados
ativos = pd.DataFrame({"nome":["AFHI11","SDIL11","XPML11","IRDM11","RBVA11","RBED11","FLMA11","TRXF11","HGRU11","TRBL11","KNSC11","MALL11"]})
ativos

      nome
0   AFHI11
1   SDIL11
2   XPML11
3   IRDM11
4   RBVA11
5   RBED11
6   FLMA11
7   TRXF11
8   HGRU11
9   TRBL11
10  KNSC11
11  MALL11

In [ ]:
from selenium.webdriver.common.by import By
#Importaremos a biblioteca By
from io import StringIO     # Usamos StringIO para simular um arquivo em memória


#Faremos uma iteração aqui, criando o indicador IND, procurando pelo index de ativos(ativos.index)
for ind in ativos.index:
    pesquisa = ativos.loc[ativos.index[ind]]    #pesquisa vai guardar as infos de cada index, começando do 0
    #print(pesquisa)                             #Veremos algo do tipo: nome    AFHI11    Name: 0, dtype: object 
    pesquisa = pesquisa['nome']                 #Como só interessa a coluna nome, iremos filtrar por ela
    #print(pesquisa)                             #aqui teremos só a coluna nome do index, que será AFHI11
    url = (site_investimento+pesquisa)           #Puxando o Site_investimento (fiis.com),iremos criar a string com o nome
    #print(url)
    navegador.get(url)                           #Puxaremos então a url  fiis.com.br/nome atual
    #print('Novo CICLO!  ',ind)
    
    #Busca Elemento Na Tabela
    tabela = navegador.find_element(By.XPATH, '//*[@id="carbon_fields_fiis_dividends-2"]/div[2]/div[2]')
    #tentar procurar com a Classe 
    #tabela = navegador.find_element(By.CLASSNAME, 'dividends-table-container')
    texto = tabela.text
    texto = texto.strip().split('\n')
    
    df = pd.DataFrame([x.split(';') for x in texto if x])
    
    
    ###
    
    #nome_da_tabela = df[0][0]
    #print(nome_da_tabela)
    #print(df)
    
    #df_reshaped = pd.DataFrame(df.values.reshape(-1, 5), 
    #                           columns=['Data Base', 'Data Pagamento', 'Cotação Base', 'Dividend Yield', 'Rendimento'])

    ##df = pd.DataFrame({tabela.text})
    ####teste = teste.transpose
    ###print(teste)
    ###teste.to_csv(r'C:\Users\User\Downloads\teste.csv', sep='\n', encoding='ANSI',index=False)
    
    ##Busca Ultimo Rendimento Apenas
    #ult_rend = navegador.find_element(By.XPATH, '//*[@id="carbon_fields_fiis_header-2"]/div/div/div[1]/div[2]/div/div[2]/p[1]/b')
    #print(pesquisa + ' Rendeu no Ultimo mês ' + ult_rend.text)

In [ ]:
de = df #Dropa a primeira linha
i = 0
c = 0
coluna_df = pd.DataFrame()
result_df = coluna_df

for ind in de.values:
    if i==0:
        print('Dropar',ind)
    elif i > 0 and i < 6 :
        print('Cabeçalho', ind)
        #coluna_df = pd.DataFrame(columns=(ind))
        coluna_df[ind] = 'None'
        
        print(coluna_df)
    else:
        print(ind, i)
        print(c)
        # Atribua os valores pelo índice da coluna
        coluna_df[coluna_df.columns[c]] = ind
        c = c + 1
        if c >= 5:
            c = 0
        result_df = result_df.append(coluna_df, ignore_index=True)
    i=i+1
    
    
# Set the first column as the index
##de.set_index(0, inplace=False)
# Transpose the table
##de = de.transpose()

# Reset the index
##de.reset_index(inplace=True)
##de

#for ind in df.size:
#    print(ind)

#cabecalho = df[1:6].transpose(copy='True') #Transformamos as 5 primeiras linhas em colunas
#cab = cabecalho.values  #valores do cabecalho
#cabecalho
#itens = df[6:].transpose(copy='True') #Transformamos as 5 primeiras linhas em colunas
#itens

Dropar ['ÚLTIMOS DIVIDENDOS DO MALL11']
Cabeçalho ['Data Base']
Empty DataFrame
Columns: [Data Base]
Index: []
Cabeçalho ['Data Pagamento']
Empty DataFrame
Columns: [Data Base, Data Pagamento]
Index: []
Cabeçalho ['Cotação Base']
Empty DataFrame
Columns: [Data Base, Data Pagamento, Cotação Base]
Index: []
Cabeçalho ['Dividend Yield']
Empty DataFrame
Columns: [Data Base, Data Pagamento, Cotação Base, Dividend Yield]
Index: []
Cabeçalho ['Rendimento']
Empty DataFrame
Columns: [Data Base, Data Pagamento, Cotação Base, Dividend Yield, Rendimento]
Index: []
['29.09.2023'] 6
0
['16.10.2023'] 7
1
['R$ 117,69'] 8
2
['0,72%'] 9
3
['R$ 0,85'] 10
4
['31.08.2023'] 11
0
['15.09.2023'] 12
1
['R$ 117,31'] 13
2
['0,72%'] 14
3
['R$ 0,85'] 15
4
['31.07.2023'] 16
0
['14.08.2023'] 17
1
['R$ 115,50'] 18
2
['0,69%'] 19
3
['R$ 0,80'] 20
4
['30.06.2023'] 21
0
['14.07.2023'] 22
1
['R$ 117,48'] 23
2
['0,68%'] 24
3
['R$ 0,80'] 25
4
['31.05.2023'] 26
0
['15.06.2023'] 27
1
['R$ 109,50'] 28
2
['0,71%'] 29
3
['R$ 0,78'] 30
4
['28.04.2023'] 31
0
['15.05.2023'] 32
1
['R$ 104,32'] 33
2
['0,75%'] 34
3
['R$ 0,78'] 35
4
['31.03.2023'] 36
0
['17.04.2023'] 37
1
['R$ 99,00'] 38
2
['0,79%'] 39
3
['R$ 0,78'] 40
4
['28.02.2023'] 41
0
['14.03.2023'] 42
1
['R$ 98,19'] 43
2
['0,79%'] 44
3
['R$ 0,78'] 45
4
['31.01.2023'] 46
0
['14.02.2023'] 47
1
['R$ 103,02'] 48
2
['0,76%'] 49
3
['R$ 0,78'] 50
4
['29.12.2022'] 51
0
['13.01.2023'] 52
1
['R$ 103,50'] 53
2
['0,75%'] 54
3
['R$ 0,78'] 55
4
['30.11.2022'] 56
0
['14.12.2022'] 57
1
['R$ 106,59'] 58
2
['0,73%'] 59
3
['R$ 0,78'] 60
4
['31.10.2022'] 61
0
['16.11.2022'] 62
1
['R$ 110,29'] 63
2
['0,71%'] 64
3
['R$ 0,78'] 65
4
['30.09.2022'] 66
0
['17.10.2022'] 67
1
['R$ 109,41'] 68
2
['0,73%'] 69
3
['R$ 0,80'] 70
4
['31.08.2022'] 71
0
['15.09.2022'] 72
1
['R$ 109,20'] 73
2
['0,71%'] 74
3
['R$ 0,77'] 75
4
['29.07.2022'] 76
0
['12.08.2022'] 77
1
['R$ 101,25'] 78
2
['0,74%'] 79
3
['R$ 0,75'] 80
4
['30.06.2022'] 81
0
['14.07.2022'] 82
1
['R$ 101,34'] 83
2
['0,71%'] 84
3
['R$ 0,72'] 85
4
['31.05.2022'] 86
0
['14.06.2022'] 87
1
['R$ 101,24'] 88
2
['0,71%'] 89
3
['R$ 0,72'] 90
4
['29.04.2022'] 91
0
['13.05.2022'] 92
1
['R$ 102,05'] 93
2
['0,71%'] 94
3
['R$ 0,72'] 95
4
['31.03.2022'] 96
0
['14.04.2022'] 97
1
['R$ 101,40'] 98
2
['0,71%'] 99
3
['R$ 0,72'] 100
4
['25.02.2022'] 101
0
['15.03.2022'] 102
1
['R$ 98,99'] 103
2
['0,73%'] 104
3
['R$ 0,72'] 105
4
['31.01.2022'] 106
0
['14.02.2022'] 107
1
['R$ 98,25'] 108
2
['0,73%'] 109
3
['R$ 0,72'] 110
4
['30.12.2021'] 111
0
['14.01.2022'] 112
1
['R$ 95,66'] 113
2
['0,68%'] 114
3
['R$ 0,65'] 115
4
['30.11.2021'] 116
0
['14.12.2021'] 117
1
['R$ 83,01'] 118
2
['0,75%'] 119
3
['R$ 0,62'] 120
4
['29.10.2021'] 121
0
['16.11.2021'] 122
1
['R$ 90,88'] 123
2
['0,66%'] 124
3
['R$ 0,60'] 125
4
['30.09.2021'] 126
0
['15.10.2021'] 127
1
['R$ 93,35'] 128
2
['0,61%'] 129
3
['R$ 0,57'] 130
4
['31.08.2021'] 131
0
['15.09.2021'] 132
1
['R$ 96,49'] 133
2
['0,57%'] 134
3
['R$ 0,55'] 135
4
['30.07.2021'] 136
0
['13.08.2021'] 137
1
['R$ 98,33'] 138
2
['0,54%'] 139
3
['R$ 0,53'] 140
4
['30.06.2021'] 141
0
['15.07.2021'] 142
1
['R$ 94,76'] 143
2
['0,53%'] 144
3
['R$ 0,50'] 145
4
['31.05.2021'] 146
0
['15.06.2021'] 147
1
['R$ 96,40'] 148
2
['0,47%'] 149
3
['R$ 0,45'] 150
4
['30.04.2021'] 151
0
['14.05.2021'] 152
1
['R$ 99,32'] 153
2
['0,40%'] 154
3
['R$ 0,40'] 155
4
['31.03.2021'] 156
0
['15.04.2021'] 157
1
['R$ 94,54'] 158
2
['0,48%'] 159
3
['R$ 0,45'] 160
4
['26.02.2021'] 161
0
['12.03.2021'] 162
1
['R$ 99,63'] 163
2
['0,60%'] 164
3
['R$ 0,60'] 165
4
['29.01.2021'] 166
0
['12.02.2021'] 167
1
['R$ 104,70'] 168
2
['0,59%'] 169
3
['R$ 0,62'] 170
4
['30.12.2020'] 171
0
['15.01.2021'] 172
1
['R$ 104,68'] 173
2
['0,59%'] 174
3
['R$ 0,62'] 175
4
['30.11.2020'] 176
0
['14.12.2020'] 177
1
['R$ 95,39'] 178
2
['0,61%'] 179
3
['R$ 0,58'] 180
4
['30.10.2020'] 181
0
['16.11.2020'] 182
1
['R$ 88,14'] 183
2
['0,54%'] 184
3
['R$ 0,48'] 185
4
['30.09.2020'] 186
0
['15.10.2020'] 187
1
['R$ 91,37'] 188
2
['0,38%'] 189
3
['R$ 0,35'] 190
4
['31.08.2020'] 191
0
['15.09.2020'] 192
1
['R$ 91,38'] 193
2
['0,33%'] 194
3
['R$ 0,30'] 195
4
['31.07.2020'] 196
0
['14.08.2020'] 197
1
['R$ 84,95'] 198
2
['0,18%'] 199
3
['R$ 0,15'] 200
4
['30.06.2020'] 201
0
['14.07.2020'] 202
1
['R$ 86,41'] 203
2
['0,16%'] 204
3
['R$ 0,14'] 205
4
['29.05.2020'] 206
0
['12.06.2020'] 207
1
['R$ 81,84'] 208
2
['0,13%'] 209
3
['R$ 0,11'] 210
4
['30.04.2020'] 211
0
['15.05.2020'] 212
1
['R$ 84,43'] 213
2
['0,14%'] 214
3
['R$ 0,12'] 215
4
['31.03.2020'] 216
0
['15.04.2020'] 217
1
['R$ 81,42'] 218
2
['0,49%'] 219
3
['R$ 0,40'] 220
4
['28.02.2020'] 221
0
['13.03.2020'] 222
1
['R$ 113,23'] 223
2
['0,44%'] 224
3
['R$ 0,50'] 225
4
['31.01.2020'] 226
0
['14.02.2020'] 227
1
['R$ 117,35'] 228
2
['0,69%'] 229
3
['R$ 0,81'] 230
4
['30.12.2019'] 231
0
['15.01.2020'] 232
1
['R$ 125,05'] 233
2
['0,29%'] 234
3
['R$ 0,36'] 235
4
['29.11.2019'] 236
0
['13.12.2019'] 237
1
['R$ 107,06'] 238
2
['0,32%'] 239
3
['R$ 0,34'] 240
4
['31.10.2019'] 241
0
['14.11.2019'] 242
1
['R$ 101,93'] 243
2
['0,42%'] 244
3
['R$ 0,43'] 245
4
['30.09.2019'] 246
0
['14.10.2019'] 247
1
['R$ 104,78'] 248
2
['0,53%'] 249
3
['R$ 0,56'] 250
4
['30.08.2019'] 251
0
['13.09.2019'] 252
1
['R$ 102,30'] 253
2
['0,60%'] 254
3
['R$ 0,61'] 255
4
['31.07.2019'] 256
0
['14.08.2019'] 257
1
['R$ 108,26'] 258
2
['0,55%'] 259
3
['R$ 0,60'] 260
4
['28.06.2019'] 261
0
['15.07.2019'] 262
1
['R$ 102,21'] 263
2
['0,59%'] 264
3
['R$ 0,60'] 265
4
['31.05.2019'] 266
0
['14.06.2019'] 267
1
['R$ 102,28'] 268
2
['0,59%'] 269
3
['R$ 0,60'] 270
4
['30.04.2019'] 271
0
['15.05.2019'] 272
1
['R$ 108,65'] 273
2
['0,55%'] 274
3
['R$ 0,60'] 275
4
['29.03.2019'] 276
0
['12.04.2019'] 277
1
['R$ 107,42'] 278
2
['0,56%'] 279
3
['R$ 0,60'] 280
4
['28.02.2019'] 281
0
['18.03.2019'] 282
1
['R$ 106,06'] 283
2
['0,57%'] 284
3
['R$ 0,60'] 285
4
['31.01.2019'] 286
0
['14.02.2019'] 287
1
['R$ 106,33'] 288
2
['0,70%'] 289
3
['R$ 0,74'] 290
4
['28.12.2018'] 291
0
['15.01.2019'] 292
1
['R$ 106,95'] 293
2
['0,60%'] 294
3
['R$ 0,64'] 295
4
['30.11.2018'] 296
0
['14.12.2018'] 297
1
['R$ 101,31'] 298
2
['0,63%'] 299
3
['R$ 0,64'] 300
4
['31.10.2018'] 301
0
['16.11.2018'] 302
1
['R$ 99,09'] 303
2
['0,63%'] 304
3
['R$ 0,62'] 305
4
['28.09.2018'] 306
0
['15.10.2018'] 307
1
['R$ 98,32'] 308
2
['0,63%'] 309
3
['R$ 0,62'] 310
4
['31.08.2018'] 311
0
['17.09.2018'] 312
1
['R$ 98,43'] 313
2
['0,63%'] 314
3
['R$ 0,62'] 315
4
['31.07.2018'] 316
0
['14.08.2018'] 317
1
['R$ 98,88'] 318
2
['0,63%'] 319
3
['R$ 0,62'] 320
4
['29.06.2018'] 321
0
['13.07.2018'] 322
1
['R$ 99,33'] 323
2
['0,62%'] 324
3
['R$ 0,62'] 325
4
['30.05.2018'] 326
0
['14.06.2018'] 327
1
['R$ 99,42'] 328
2
['0,62%'] 329
3
['R$ 0,62'] 330
4
['30.04.2018'] 331
0
['15.05.2018'] 332
1
['R$ 105,30'] 333
2
['0,58%'] 334
3
['R$ 0,61'] 335
4
['29.03.2018'] 336
0
['13.04.2018'] 337
1
['R$ 102,95'] 338
2
['0,65%'] 339
3
['R$ 0,67'] 340
4
['28.02.2018'] 341
0
['14.03.2018'] 342
1
['R$ 103,20'] 343
2
['0,48%'] 344
3
['R$ 0,50'] 345
4
['31.01.2018'] 346
0
['16.02.2018'] 347
1
['R$ 103,10'] 348
2
['0,47%'] 349
3
['R$ 0,48'] 350
4

C:\Users\User\AppData\Local\Temp\ipykernel_20032\1788396385.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append(coluna_df, ignore_index=True)

In [ ]:
result_df.columns

Index(['Data Base', 'Data Pagamento', 'Cotação Base', 'Dividend Yield',
       'Rendimento'],
      dtype='object')

In [ ]:
result_df

   Data Base Data Pagamento Cotação Base Dividend Yield Rendimento
0          1            NaN          NaN            NaN        NaN
1        NaN              2          NaN            NaN        NaN
2        NaN            NaN            3            NaN        NaN
3        NaN            NaN          NaN              4        NaN
4        NaN            NaN          NaN            NaN          5
..       ...            ...          ...            ...        ...
95        96            NaN          NaN            NaN        NaN
96       NaN             97          NaN            NaN        NaN
97       NaN            NaN           98            NaN        NaN
98       NaN            NaN          NaN             99        NaN
99       NaN            NaN          NaN            NaN        100

[100 rows x 5 columns]